@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: featured links
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-featured-links {
  .component-featured-links__title {
    @include type-header(h5, dark, included);
    text-transform: uppercase;
  }

  .component-featured-links__list {
    list-style: none;
    padding: 0;
  }

  .component-featured-links__list-item {
    padding-bottom: 0.5em;
    text-transform: uppercase;
  }

  .component-featured-links__list-item a {
    @include icon(chevron, after);
    hyphens: auto;

    &:after {
      color: $color-blue;
      font-size: 0.75em;
      margin-left: 0.25em;
      transition: $transition-base;
      transition-delay: $transition-base-time / 2;
    }

    &:hover:after {
      color: $color-dark-blue;
    }
  }
}
