@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: Featured Media - Masonry layout
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-featured-media--layout-masonry {
  .component-featured-media__list {
    // Flex fallback.
    @include flex();
    @include flex-x(flex-wrap, wrap);

    display: grid;
    grid-auto-rows: minmax(2em, auto);
    grid-template-columns: repeat(auto-fill, calc(50% - 2em));
    grid-column-gap: 4em;
    list-style: none;
    margin: 0 auto;
    max-width: 100%;
    padding: 0;

    @include media('<=sm') {
      display: block;
    }

    @include media('>md') {
      grid-column-gap: 5em;
      grid-template-columns: repeat(auto-fill, calc(50% - 2.5em));
    }

    @include media('>lg') {
      grid-auto-rows: minmax(7em, auto);
      grid-template-columns: repeat(auto-fill, calc(50% - 3em));
      grid-column-gap: 6em;
    }
  }

  .component-featured-media__list-item {
    flex: 1 1 14em;
    margin-bottom: 0;

    @include media('>sm') {
      margin-bottom: 5rem;

      &:last-of-type,
      &:nth-last-child(2) {
        margin-bottom: 0;
      }
    }
  }

  @for $i from 1 through 16 {
    .component-featured-media__list-item--size-#{$i} {
      grid-row-end: span $i;
    }
  }
}

