@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Media: Teaser
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.media--view-mode-teaser {

  img,
  video {
    display: block;
    height: auto;
    width: 100%;
  }
}
