// -----------------------------------------------------------------------------
// Abstracts/Variables: Admin
// Heights & widths of the admin menus for css offsets
// -----------------------------------------------------------------------------

// User logged in = body.user-logged-in
$admin-toolbar: 39px;

// tray opened horizontally = body.toolbar-horizontal.toolbar-tray-open
$admin-tray-horizontal: 40px;

// tray opened vertically = body.toolbar-vertical.toolbar-tray-open
$admin-tray-vertical: 173px;

// User logged in with tray opened horizontally = body.user-logged-in.toolbar-horizontal.toolbar-tray-open
$admin-toolbar-and-tray-horizontal: $admin-toolbar + $admin-tray-horizontal;
