// -----------------------------------------------------------------------------
// Abstracts/Variables: Asset Pathing
// Paths of commonly used file types
// Used in the asset pathing function functions/_asset-pathing.scss
// * file-name must be a string: ''
// -----------------------------------------------------------------------------

$path-base: '/themes/custom/truthandliberty/';
$path-image: '../../images/' !default;
$path-icon: $path-base + 'icons/' !default;
$path-font: '../../fonts/' !default;
