// -----------------------------------------------------------------------------
// Abstracts/Variables: Breakpoints
// Site default breakpoint widths
// -----------------------------------------------------------------------------

$bp-xs: em(480) !default;
$bp-sm: em(568) !default;
$bp-md: em(768) !default;
$bp-lg: em(980) !default;
$bp-xl: em(1280) !default;
$bp-gr: em(1450) !default;

// Map
$breakpoints: (
  xs: $bp-xs,
  sm: $bp-sm,
  md: $bp-md,
  lg: $bp-lg,
  xl: $bp-xl,
  gr: $bp-gr
);
