// -----------------------------------------------------------------------------
// Abstracts/Variables: Font weight
// Names for commonly used fws
// -----------------------------------------------------------------------------

$fw-black: 900 !default;
$fw-extra-bold: 800 !default;
$fw-bold: 700 !default;
$fw-semi-bold: 600 !default;
$fw-medium: 500 !default;
$fw-regular: 400 !default;
$fw-light: 300 !default;
