// -----------------------------------------------------------------------------
// Abstracts/Variables: Font families
// Preferred and fallback font families
// -----------------------------------------------------------------------------

// Default: Sans-serif font family
$font-default: 'Arial', sans-serif !default;

// Brand: Serif font family
$font-brand: 'Times New Roman', 'Times', serif !default;

// Mono: Mono spaced font family
$font-mono: 'Lucida Sans Typewriter', 'Lucida Console', 'monaco', 'Bitstream Vera Sans Mono', monospace !default;
