// -----------------------------------------------------------------------------
// Abstracts/Variables: Hero
// Hero Component height variables
// -----------------------------------------------------------------------------

$component-hero-title-height: 100vh;
$component-hero-title-height-max: 100vh;
$component-hero-title-height-min: 20rem;
