// -----------------------------------------------------------------------------
// Abstracts/Variables: Transition
// Default transition time, style, and full
// -----------------------------------------------------------------------------

$transition-base-time: 300ms !default;
$transition-base-style: ease-in-out !default;
$transition-base-time-style: 300ms ease-in-out;
$transition-base: all 300ms ease-in-out !default;
