// -----------------------------------------------------------------------------
// Abstracts/Variables: Typography
// Global typography for site
// -----------------------------------------------------------------------------

/**
 * Root Font Sizing
 */

// <html> and <body> font sizes
$html-font-size: 100% !default;
$body-font-size: 16px !default;
$body-line-height: 1.625 !default;

// Functions
$em-base-multiplyer: $body-font-size !default;
$font-size-base-rem: $body-font-size !default;

/**
 * Type sets
 * Defines a type grouping that can be looped over and generate utility classes
 */
$type-sets: (
  h1: (
    base: (
      font-size: em(42px)
    ),
    sm: (
      font-size: 8vw
    ),
    xl: (
      font-size: em(100px)
    )
  ),
  h2: (
    base: (
      font-size: em(30px)
    ),
    md: (
      font-size: em(40px)
    )
  ),
  h3: (
    base: (
      font-size: em(20px)
    ),
    md: (
      font-size: em(30px)
    )
  ),
  h4: (
    base: (
      font-size: em(16px)
    ),
    md: (
      font-size: em(20px)
    )
  ),
  h5: (
    base: (
      font-size: em(16px)
    )
  ),
  h6: (
    base: (
      font-size: em(14px)
    )
  ),
  paragraph: (
    base: (
      font-size: em(14px)
    ),
    md: (
      font-size: em(16px)
    )
  ),
  quote: (
    base: (
      font-size: em(30px)
    ),
    md: (
      font-size: em(36px)
    )
  ),
  xs: (
    base: (
      font-size: 0.75em
    )
  ),
  sm: (
    base: (
      font-size: 0.875em
    )
  ),
  base: (
    base: (
      font-size: 1em
    )
  ),
  lg: (
    base: (
      font-size: 1.125em
    )
  ),
  xl: (
    base: (
      font-size: em(44px)
    ),
    sm: (
      font-size: em(80px)
    )
  )
) !default;
