// -----------------------------------------------------------------------------
// Abstracts/Mixin: Gap horizontal
// Apply to container where spacing is needed on the LEFT and RIGHT
// @include gap-horizontal();
//
// Options:
// • $property(value = margin or padding) - default = padding - changes property
// • $breakpoint(value = breakpoint variable) - default = md - breakpoint trigger
// • $gap-small(value = gap horizontal variable) - default = $gap-horizontal-sm - the small/mobile size
// • $gap-large(value = gap horizontal variable) - default = $gap-horizontal-lg - the large/desktop size
// -----------------------------------------------------------------------------

@mixin gap-horizontal (
  $property: padding,
  $breakpoint: xl,
  $gap-small: $gap-horizontal-md,
  $gap-large: 0
  ) {

  #{$property}-left: $gap-small;
  #{$property}-right: $gap-small;

  @include media('>#{$breakpoint}') {
    #{$property}-left: $gap-large;
    #{$property}-right: $gap-large;
  }
}
