// -----------------------------------------------------------------------------
// Base: Base
// Basic site styles
// -----------------------------------------------------------------------------

/**
 * Body font sizing and base
 */
@at-root {
  @viewport {
    width: device-width;
  }
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: $html-font-size;
  text-rendering: optimizeLegibility;
}

body {
  background-color: $body-bg-color;
  color: $color-black;
  font-weight: $fw-medium;
  line-height: $body-line-height;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
}

/**
 * Box sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

// Set up a decent box model on the root element
html {
  box-sizing: border-box;
}

// Make all elements from the DOM inherit from the parent box-sizing
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Remove focus outline from all elements if not keyboard activated.
 */
body:not(.keyboard-activated) *:focus {
  outline: none;
}

/**
 * Basic body styles
 */
::-moz-selection {
  background: $color-blue;
  color: $color-blue;
}

::selection {
  background: $color-blue;
  color: $color-blue;
}

// height for page wrappers so the site spans the full height of the window
.dialog-off-canvas-main-canvas,
.page {
  height: 100%;
}

// Add margin to system messages.
.messages {
  margin: 1em;
}

// flex on the parent regions wrapper to always keep the footer at the bottom
.page {
  @include flex();
  @include flex-x(flex-direction, column);

  @include bs-ie() {
    display: block;
  }
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
  width: auto;
}

figure {
  margin: 0;
  padding: 0;
}

// Drupal Toolbar fixes.
body.toolbar-loading {
  padding-top: $admin-toolbar;

  .toolbar {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .toolbar-tray {
    display: none !important;
  }
}

// Make tablet toolbar hover over page instead of pushing all content over.
body.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
  margin-left: 0 !important;
}

// Fix to make tool tray un-"fixed" if toolbar is loading.
body.toolbar-loading .toolbar-tray {
  display: none;
}

// Add background to node-preview container.
.node-preview-container {
  background: $color-white;
  background: rgba($color-white, 0.8);
}
