// -----------------------------------------------------------------------------
// Base: Grid
// This file contains Grid application classes
// -----------------------------------------------------------------------------

.row {
  @include grid-row($direction: row)
}

.row-reverse {
  @include grid-row($direction: row-reverse)
}

.column {
  @include grid-row($direction: column);
}

.column-reverse {
  @include grid-row($direction: column-reverse);
}

.row--gutter-vertical,
.column--gutter-vertical {
  @include grid-row-gutters(
    $gutter-horizontal: false,
    $gutter-vertical: true
  );
}

.row--gutter-vertical-wide,
.column--gutter-vertical-wide {
  @include grid-row-gutters(
    $gutter-horizontal: false,
    $gutter-vertical: true,
    $gutter-vertical-size: wide
  );
}

.row--gutter-vertical-wide-large,
.column--gutter-vertical-wide-large {
  @include grid-row-gutters(
    $gutter-horizontal: false,
    $gutter-vertical: true,
    $gutter-vertical-size: wide-large
  );
}

.row--gutter-vertical-narrow,
.column--gutter-vertical-narrow {
  @include grid-row-gutters(
    $gutter-horizontal: false,
    $gutter-vertical: true,
    $gutter-vertical-size: narrow
  );
}

.row--gutter-vertical-gapless,
.column--gutter-vertical-gapless {
  @include grid-row-gutters(
    $gutter-horizontal: false,
    $gutter-vertical: true,
    $gutter-vertical-size: gapless
  );
}

.row--gutter-horizontal,
.column--gutter-horizontal {
  @include grid-row-gutters(
    $gutter-horizontal: true,
    $gutter-vertical: false
  );
}

.row--gutter-horizontal-wide,
.column--gutter-horizontal-wide {
  @include grid-row-gutters(
    $gutter-horizontal: true,
    $gutter-horizontal-size: wide,
    $gutter-vertical: false
  );
}

.row--gutter-horizontal-wide-large,
.column--gutter-horizontal-wide-large {
  @include grid-row-gutters(
    $gutter-horizontal: true,
    $gutter-horizontal-size: wide-large,
    $gutter-vertical: false
  );
}

.row--gutter-horizontal-narrow,
.column--gutter-horizontal-narrow {
  @include grid-row-gutters(
    $gutter-horizontal: true,
    $gutter-horizontal-size: narrow,
    $gutter-vertical: false
  );
}

.row--gutter-horizontal-gapless,
.column--gutter-horizontal-gapless {
  @include grid-row-gutters(
    $gutter-horizontal: true,
    $gutter-horizontal-size: gapless,
    $gutter-vertical: false
  );
}

@include columns($grid-columns);
@include columns-offsets($grid-columns);
